<mat-card class="m-2">
  <mat-card-header>
    <mat-card-title> {{ getJobsiteName() }}</mat-card-title>
    <mat-card-subtitle>{{ getJobsiteAddress() }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="map-container pt-2">
      <div id="map" class="map d-flex justify-content-center">
        <strong>NOT IMPLEMENTED YET</strong>
      </div>
    </div>
    <p>{{ getJobsiteDescription() }}</p>
  </mat-card-content>

  <mat-card-actions class="d-flex justify-content-end">
    <button mat-button (click)="onDelete()">Delete</button>
    <button mat-button (click)="onDetail()">Details</button>
  </mat-card-actions>
</mat-card>
