<app-navbar></app-navbar>

<div class="p-2">
  <div class="d-flex justify-content-between pb-2">
    <button mat-icon-button (click)="onBack()">
      <mat-icon>keyboard_return</mat-icon>
    </button>
    <button mat-raised-button color="warn" (click)="onDeleteJobsite()">
      Delete
    </button>
  </div>

  <!-- JOBSITE OVERALL -->
  <mat-card class="jobsite-viewer">
    <mat-card-header>
      <mat-card-title> {{ jobsite.getName() }}</mat-card-title>
      <mat-card-subtitle>{{ jobsite.getAddress() }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col">
          <p>{{ getJobsiteDescription() }}</p>
        </div>
        <div class="col">
          <p>
            Weather : {{ weather.getDescription() }}
            <img id="wicon" src="{{ getWeatherIcon() }}" alt="Weather icon" />
          </p>

          <p>Temperature : {{ weather.getTemperature() }} C°</p>
          <p>Humidity : {{ weather.getHumidity() }} %</p>
          <p>Clouds : {{ weather.getCloudsPercentage() }} %</p>
          <p>Wind speed: {{ weather.getWindSpeed() }} m/s</p>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions class="d-flex justify-content-end">
      <button mat-button>Edit</button>
    </mat-card-actions>
  </mat-card>

  <!-- CASTINGS -->
  <div
    *ngFor="let casting of jobsite.getCastings(); let i = index"
    class="pt-2"
  >
    <app-casting-viewer
      [casting]="casting"
      [index]="i"
      [coordinates]="this.jobsite.getCoordinates()"
      [jobsiteID]="this.jobsite.getId()"
    ></app-casting-viewer>
  </div>
</div>
