<mat-toolbar class="navbar">
  <div class="my-account-button">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <h1><strong>MyConcreteCasting</strong></h1>

  <!-- MENU -->
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <button mat-button (click)="goToAccountManager()">
        Manage my account
      </button>
    </button>

    <button mat-menu-item>
      <button mat-button (click)="logout()">Logout</button>
    </button>
  </mat-menu>
</mat-toolbar>
