.navbar {
  height: auto;
  width: 100%;
  background-color: #343a40;
  color: white;
  align-items: center;
  justify-content: center;
}

h1 {
  position: relative;
  text-decoration: underline;
  text-align: center;
}

.my-account-button {
  position: absolute;
  right: 1em;
  margin: 0 1em 0 0;
}
