<!-- CASTING -->
<mat-card class="container">
  <mat-card-header>
    <mat-card-title>{{ casting.getName() }} </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="row">
      <div class="col">
        <p>Description : {{ getCastingDescription() }}</p>
        <p>Classe EI : {{ getCastingClassEI() }}</p>
        <p>Concrete compression Ratio : {{ getCastingConcreteRatio() }}</p>
        <p>Type 2 addition : {{ getCastingAdditions() }}</p>
        <p>Cement compression Ratio : {{ getCastingCementRatio() }}</p>
        <p>Strength class : {{ casting.getStrengthClass() }}</p>
        <p>Cement type : {{ casting.getCementType() }}</p>
      </div>
      <div class="col">
        <div class="timer" *ngIf="casting.isCuringInProgress()">
          <p>Curing finished in</p>
          <span id="days"> {{ days }} </span>Day(s)
          <span id="hours"> {{ hours }} </span>Hrs
        </div>
        <div *ngIf="casting.isCuringFinished()">
          <p>Curing done</p>
        </div>
        <div>
          <mat-form-field appearance="fill" [formGroup]="datePicker">
            <mat-label>Choose a starting date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="startingDate"
            />
            <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions class="d-flex justify-content-end">
    <div *ngIf="!casting.isCuringInProgress() && !casting.isCuringFinished()">
      <button mat-button>Edit</button>
    </div>
    <button id="startCuring" mat-button (click)="onStartCuring()">Start</button>
  </mat-card-actions>
</mat-card>
