<mat-accordion>
  <mat-expansion-panel class="panel">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ casting.getName() }}</mat-panel-title>
      <mat-panel-description>
        {{ getCastingDescription() }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="row">
      <div class="col">
        <p>Classe EI : {{ getCastingClassEI() }}</p>
        <p>Concrete compression Ratio : {{ getCastingConcreteRatio() }}</p>
        <p>Type 2 addition : {{ getCastingAdditions() }}</p>
        <p>Cement compression Ratio : {{ getCastingCementRatio() }}</p>
        <p>Strength class : {{ casting.getStrengthClass() }}</p>
        <p>Cement type : {{ casting.getCementType() }}</p>
      </div>
      <div class="col">
        <div class="timer" *ngIf="casting.isCuringInProgress()">
          <p>Curing finished in</p>
          <span id="days"> {{ curingdays }} </span>Day(s)
          <span id="hours"> {{ curinghours }} </span>Hrs <br /><br />
          <p>Hardening finished in</p>
          <span id="days"> {{ hardeningdays }} </span>Day(s)
          <span id="hours"> {{ hardeninghours }} </span>Hrs
        </div>
        <div *ngIf="casting.isCuringFinished()">
          <p>Curing done</p>
        </div>
        <div class="row">
          <mat-form-field appearance="fill" [formGroup]="datePicker">
            <mat-label>Choose a starting date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="startingDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="fill" [formGroup]="datePicker">
            <mat-label>Choose a target strength (MPa)</mat-label>
            <input
              matInput
              type="number"
              min="0"
              max="50"
              formControlName="targetStrength"
            />
          </mat-form-field>
        </div>
      </div>
    </div>

    <mat-action-row>
      <button mat-button>Edit</button>
      <button id="startCuring" mat-button (click)="onStartCuring()">
        Start
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
