<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>MyConcreteCasting</h1>

    <!--Email-->
    <div>
      <mat-form-field
        appearance="fill"
        MatFormFieldControl="email"
        class="w-100"
      >
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" id="email" />
        <mat-error *ngIf="submitted && f.email.errors?.required">
          Email is required
        </mat-error>
        <mat-error *ngIf="submitted && f.email.errors?.email">
          This is not a valid email
        </mat-error>
      </mat-form-field>
    </div>

    <!--Password-->
    <div>
      <mat-form-field
        appearance="fill"
        MatFormFieldControl="password"
        class="w-100"
      >
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          type="password"
          id="password"
        />
        <mat-error *ngIf="submitted && f.password.errors?.required"
          >Password is required</mat-error
        >
      </mat-form-field>
    </div>

    <div
      *ngIf="submitted && responseError"
      class="d-flex justify-content-end text-danger"
    >
      {{ responseErrorMessage }}
    </div>

    <div class="py-2">
      <button mat-button type="submit" class="signInBtn">Sign in</button>
    </div>

    <div class="text-divider">OR</div>

    <div class="py-2">
      <button mat-button [routerLink]="'/register'" class="signUpBtn">
        Sign up
      </button>
    </div>
  </form>
</div>
