<div class="container shadow">
  <h2><strong>Login to your account</strong></h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!--Email-->
    <div class="form-group py-2">
      <input
        formControlName="email"
        type="email"
        id="email"
        class="form-control"
        placeholder="Email"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
      />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
      </div>
    </div>
    <!--Password-->
    <div class="form-group py-2">
      <input
        formControlName="password"
        type="password"
        id="password"
        class="form-control"
        placeholder="Password"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
      />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit" name="submitButton">Sign in</button>
      <a routerLink="/register">Create your account</a>
    </div>
  </form>
</div>
