<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>MyConcreteCasting</h1>
    <!--Email-->
    <div class="form-group py-2">
      <input
        formControlName="email"
        type="email"
        id="email"
        class="form-control"
        placeholder="Email"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
      />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
      </div>
    </div>
    <!--Password-->
    <div class="form-group py-2">
      <input
        formControlName="password"
        type="password"
        id="password"
        class="form-control"
        placeholder="Password"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
      />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
      </div>
    </div>
    <div class="py-2">
      <button type="submit" class="signInBtn">Sign in</button>
    </div>

    <div class="text-divider">OR</div>

    <div class="py-2">
      <button [routerLink]="'/register'" class="signUpBtn">Sign up</button>
    </div>
  </form>
</div>
