<nav class="navbar">
  <div class="app-title">
    <h1>MyConcreteCasting</h1>
  </div>

  <div class="my-account-button">
    <button mat-button [matMenuTriggerFor]="menu">
      My account
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>

  <!-- MENU -->
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <button mat-button (click)="goToAccountManager()">
        Manage my account
      </button>
    </button>

    <button mat-menu-item>
      <app-logout></app-logout>
    </button>
  </mat-menu>
</nav>
