.navbar {
  min-height: 50px;
  margin: 0%;
  padding: 0%;
  background-color: #343a40;
  color: white;
}

.app-title {
  margin-left: auto;
  margin-right: auto;
}

.my-account-button {
  position: absolute;
  align-self: center;
  right: 0.1%;
}
