<mat-accordion multi>
  <mat-expansion-panel class="jobsite-panel">
    <!-- PANEL HEADER -->
    <mat-expansion-panel-header>
      <mat-panel-title> {{ jobsite.getName() }} </mat-panel-title>
      <mat-panel-description>
        {{ jobsite.getAddress() }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- PANEL CONTENT -->
    <div class="row">
      <div class="col">
        <p>
          {{
            jobsite.getDescription() === ""
              ? "There is no description for this jobsite"
              : this.jobsite.getDescription()
          }}
        </p>
      </div>
      <div class="col border-left border-secondary">
        <p>
          Weather : {{ weather.getDescription() }}
          <img id="wicon" src="{{ getWeatherIcon() }}" alt="Weather icon" />
        </p>

        <p>Temperature : {{ weather.getTemperature() }} C°</p>
        <p>Humidity : {{ weather.getHumidity() }} %</p>
        <p>Clouds : {{ weather.getCloudsPercentage() }} %</p>
        <p>Wind speed: {{ weather.getWindSpeed() }} m/s</p>
      </div>
    </div>

    <!-- BUTTONS -->
    <mat-action-row>
      <button mat-button (click)="onDelete()">Delete</button>
      <button mat-button (click)="onDetail()">Details</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
