<mat-card class="m-2 container">
  <mat-card-header>
    <mat-card-title> {{ getJobsiteName() }}</mat-card-title>
    <mat-card-subtitle>{{ getJobsiteAddress() }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="row">
      <div class="col">
        <p>{{ getJobsiteDescription() }}</p>
      </div>
      <div class="col border-left border-secondary">
        <p>
          Weather : {{ getWeatherDescription() }}
          <img id="wicon" src="{{ getWeatherIcon() }}" alt="Weather icon" />
        </p>

        <p>Temperature : {{ getWeatherTemperature() }} C°</p>
        <p>Humidity : {{ getWeatherHumidity() }} %</p>
        <p>Clouds : {{ getWeatherClouds() }} %</p>
        <p>Wind speed: {{ getWeatherWindSpeed() }} m/s</p>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions class="d-flex justify-content-end">
    <button mat-button (click)="onDelete()">Delete</button>
    <button mat-button (click)="onDetail()">Details</button>
  </mat-card-actions>
</mat-card>
