button {
  color: white;
  background-color: #f3941f;
  transition: all 0.1s ease-in-out;
  border: solid 1px transparent;

  &:hover {
    border-color: #f3941f;
    background-color: transparent;
  }
}
