<div>
  <app-navbar></app-navbar>

  <div class="d-flex justify-content-end p-2">
    <button id="newJobsiteButton" mat-button [routerLink]="'/newJobsite'">
      New Jobsite
    </button>
  </div>

  <!-- REFRESH BUTTON -->
  <div class="d-flex justify-content-end pb-2 px-2">
    <button id="refreshButton" mat-button (click)="getJobsites()">
      <mat-icon>sync</mat-icon>
    </button>
  </div>

  <!-- JOBSITES -->
  <div *ngFor="let jobsite of jobsiteArray; let i = index" class="p-2">
    <app-jobsite-preview-card
      [jobsite]="jobsiteArray[i]"
    ></app-jobsite-preview-card>
  </div>
</div>
