<div>
  <app-navbar></app-navbar>

  <div class="d-flex justify-content-end p-2">
    <button
      id="newJobsiteButton"
      mat-button
      (click)="openForm()"
    >
      New Jobsite
    </button>
  </div>

  <!-- REFRESH BUTTON -->
  <div class="d-flex justify-content-end pb-2 px-2">
    <button
      id="refreshButton"
      mat-button
      (click)="getJobsites()"
    >
      <mat-icon>refresh</mat-icon>
    </button>
  </div>

  <!-- CARDS -->
  <div class="grid" id="cards">
    <div *ngFor="let jobsite of jobsiteArray; let i = index" class="pb-2 row">
      <app-jobsite-preview-card
        [jobsite]="jobsiteArray[i]"
      ></app-jobsite-preview-card>
    </div>
  </div>
</div>
