<div class="back-button">
  <button mat-icon-button (click)="onBack()">
    <mat-icon>keyboard_return</mat-icon>
  </button>
</div>
<div class="container">
  <!-- EDIT ACCOUNT -->
  <div>
    <form [formGroup]="editAccountForm" (ngSubmit)="onEditAccountSubmit()">
      <h1><strong>My Account</strong></h1>
      <div class="row">
        <!-- USER FIRST NAME-->
        <div class="col">
          First name :
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              formControlName="first_name"
              type="text"
              id="first_name"
              [placeholder]="getUserFirstName()"
            />
          </mat-form-field>
        </div>

        <!-- USER LAST NAME-->
        <div class="col">
          Last name :
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              formControlName="last_name"
              type="text"
              id="last_name"
              [placeholder]="getUserLastName()"
            />
          </mat-form-field>
        </div>
      </div>

      <!-- USER EMAIL -->
      <div>
        Email :
        <mat-form-field appearance="outline" class="w-100">
          <input
            matInput
            type="email"
            id="email"
            [placeholder]="getUserEmail()"
            disabled
          />
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-end">
        <button mat-raised-button color="primary" type="submit">
          Save changes
        </button>
      </div>
    </form>

    <!-- CHANGE PASSWORD -->
    <div>
      <form
        [formGroup]="changePasswordForm"
        (ngSubmit)="onEditPasswordSubmit()"
      >
        <!-- CURRENT PASSWORD -->
        <div>
          Current password :
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              formControlName="currentPassword"
              type="password"
              id="currentPassword"
            />
            <mat-error
              *ngIf="submitted && passwordForm.currentPassword.errors?.required"
              >Current password is required</mat-error
            >
          </mat-form-field>
        </div>
        <!-- NEW PASSWORD -->
        <div>
          New password :
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              formControlName="newPassword"
              type="password"
              id="newPassword"
            />
            <mat-error
              *ngIf="submitted && passwordForm.newPassword.errors?.required"
            >
              This field is required
            </mat-error>
            <mat-error
              *ngIf="submitted && passwordForm.newPassword.errors?.minlength"
            >
              Password must be at least 8 characters
            </mat-error>
          </mat-form-field>
        </div>
        <!-- NEW PASSWORD CONFIRMATION -->
        <div>
          Confirm new password :
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              formControlName="newPasswordConfirm"
              type="password"
              id="newPasswordConfirm"
            />
            <mat-error
              *ngIf="
                submitted && passwordForm.newPasswordConfirm.errors?.mustMatch
              "
            >
              This doesn't match your choosen password
            </mat-error>
            <mat-error
              *ngIf="
                submitted && passwordForm.newPasswordConfirm.errors?.required
              "
            >
              This field is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-end">
          <button mat-raised-button color="primary" type="submit">
            Change password
          </button>
        </div>
      </form>
    </div>

    <!-- DELETE ACCOUNT-->
    <div class="delete-account">
      <div class="col">
        <p>Delete account</p>
        <small>You will lose all your data</small>
      </div>
      <button mat-raised-button color="warn" (click)="onDeleteAccount()">
        Delete
      </button>
    </div>
  </div>
</div>
