mat-stepper,
mat-step,
mat-hint {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  background-color: #008685;
  color: white;
}

mat-label {
  color: white;
}

.map-container {
  width: 100%;
}

.map {
  height: 50vh;
  width: 100%;
}

.jobsiteGridContent {
  width: 50%;
  height: 50%;
}

.casting-form {
  border: 1px solid gray;
}

.text-divider {
  display: flex;
  align-items: center;
  font-size: var(--text-sm);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  --text-divider-gap: 1rem;

  &::after {
    content: "";
    height: 1px;
    background-color: black;
    flex-grow: 1;
  }

  &::before {
    margin-right: var(--text-divider-gap);
  }

  &::after {
    margin-left: var(--text-divider-gap);
  }
}

.search-address-btn {
  background-color: #f3941f;
  transition: all 0.1s ease-in-out;
  border: solid 1px transparent;

  &:hover {
    border-color: #f3941f;
    background-color: transparent;
  }
}

button {
  background-color: #f3941f;
  transition: all 0.1s ease-in-out;
  border: solid 1px transparent;

  &:hover {
    border-color: #f3941f;
    background-color: transparent;
  }
}
