<div class="container shadow">
  <h1 class="text-center">Create a new jobsite</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <!--Left row-->
      <div class="col">
        <h3>Jobsite Infos</h3>

        <!--Name-->
        <div class="form-group py-2">
          <input
            formControlName="name"
            type="name"
            id="name"
            class="form-control"
            placeholder="Name"
          />
        </div>
        <!--Description-->
        <div class="form-group py-2">
          <input
            formControlName="jobsite_description"
            type="jobsite_description"
            id="descrjobsite_descriptioniption"
            class="form-control"
            placeholder="Jobsite Description"
          />
        </div>
        <div id="map" class="map-container form-group"></div>
        <div>
          <p>Lattitude : {{ lattitude }} -- Longitude : {{ longitude }}</p>
        </div>
      </div>

      <!--Right row-->
      <div class="col">
        <!--Right row header-->
        <div class="d-flex">
          <h3>Concrete Areas</h3>
          <button (click)="addConcreteArea()" class="btn btn-primary">
            add area
          </button>
        </div>

        <!--Right row items-->
        <div
          formArrayName="concreteArray"
          *ngFor="let area of getAreasControls.controls; let i = index"
        >
          <h5>Area {{ i + 1 }}</h5>
          <input class="form-control" placeholder="area name" />
          <input class="form-control" placeholder="area description" />
          <input class="form-control" placeholder="area infos" />
        </div>
      </div>
    </div>

    <!--Button-->
    <div class="form-group d-flex justify-content-end">
      <button class="btn btn-info my-4 btn-block" type="submit">Create</button>
    </div>
  </form>
</div>
