.mat-dialog-content {
  margin: 0%;
  padding: 0%;
  max-height: 100%;
  max-width: 100%;
}

.map-container {
  width: 100%;
}

.map {
  height: 50vh;
  width: 100%;
}

.jobsiteGridContent {
  width: 50%;
  height: 50%;
}
