.mat-dialog-content {
  margin: 0%;
  padding: 0%;
  max-height: 100%;
  max-width: 100%;
}

.map-container {
  width: 100%;
}

.map {
  height: 50vh;
  width: 100%;
}

.jobsiteGridContent {
  width: 50%;
  height: 50%;
}

.casting-infos-section {
  display: grid;
  grid-template-columns: auto auto;
  grid-row: auto auto;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}
