<app-navbar></app-navbar>

<div class="p-2">
  <button mat-icon-button (click)="onBack()">
    <mat-icon>keyboard_return</mat-icon>
  </button>

  <!-- JOBSITE OVERALL -->
  <mat-card class="m-2">
    <mat-card-header>
      <mat-card-title> {{ getJobsiteName() }}</mat-card-title>
      <mat-card-subtitle>{{ getJobsiteAddress() }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="map-container pt-2">
        <div id="map" class="map d-flex justify-content-center">
          <strong>NOT IMPLEMENTED YET</strong>
        </div>
      </div>
      <p>{{ getJobsiteDescription() }}</p>
    </mat-card-content>

    <mat-card-actions class="d-flex justify-content-end">
      <button mat-button>Edit</button>
    </mat-card-actions>
  </mat-card>

  <div class="grid">
    <div *ngFor="let casting of getJobsiteCastings(); let i = index">
      <!-- CASTING -->
      <mat-card class="m-2"
        ><mat-card-header>
          <mat-card-title>{{ getCastingName(i) }} </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>{{ getCastingDescription(i) }}</p>
          <p>{{ getCastingInfos(i) }}</p>
        </mat-card-content>

        <mat-card-actions class="d-flex justify-content-end">
          <button mat-button>Edit</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
